:root {
  --wetasphalt: #34495e;
  --midnightblue: #2c3e50;
  --concrete: #95a5a6;
  --clouds: #ecf0f1;
  --asbestos: #7f8c8d;
  --white: #ffffff;
  --silver: #bdc3c7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: var(--concrete);
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.home,
.about,
.contact,
.portfolio,
.resume {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

/* For Footer */
.footer1 {
  margin-top: auto;
  font-size: 20px;
  /* margin-top: auto; */
  background-color: var(--concrete);
  color: var(--clouds); 
  text-align: center;
}

/* .home {
  background-image: url('./images/img-1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.services {
  background-image: url('./images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url('./images/img-3.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.contact-us {
  background-image: url('./images/img-4.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url('./images/img-7.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.marketing {
  background-image: url('./images/img-6.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.consulting {
  background-image: url('./images/img-5.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
} */
