*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --yellow: #fce138;
  --blue: #00008b;
  --blue2: #024e76;
  --lblue: #39a6b2;
  --white: #fff;
}

body {
  /* background-image: url(../assets/movie1.jpg); */
 background-color: black;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
}